<!DOCTYPE html>
<html >

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>ESGRI</title>
    <style type="text/css">
        @import url(https://fonts.googleapis.com/css?family=Nunito);

        img {
            max-width: 218px;
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
            object-fit: contain;
        }

        html {
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
            border: 0;
            outline: none;
            color: #2d387b;
        }

        a img {
            border: none;
        }

        td,
        h1,
        h2,
        h3 {
            font-family: Helvetica, Arial, sans-serif;
            font-weight: 400;
        }

        body {
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: none;
            width: 100%;
            height: 100%;
            color: #666;
            background: #fff;
            font-size: 16px;
            height: 100vh;
            width: 100%;
            padding: 0px;
            margin: 0px;
        }

        table {
            border-collapse: collapse !important;
        }

        .force-full-width {
            width: 100% !important;
        }

        @media screen {

            td,
            h1,
            h2,
            h3 {
                font-family: 'Nunito', 'Helvetica Neue', 'Arial', 'sans-serif' !important;
            }
        }

        @media only screen and (max-width: 480px) {

            table[class="w320"] {
                width: 395px !important;
            }

            .headline {
                font-size: 20px !important;
                padding: 0 20px !important;
            }
        }

        .name {
            background-color: #2d387b;
        }

        .name:hover {
            background-color: #49bfae;
        }

        .headline {
            color: #444;
            font-size: 36px;
            text-align: center;
            font-weight: 700;
            padding: 0 20px;
        }
    </style>
    
</head>

<body bgcolor="#fff" class="body" style="margin: 0 0; display: block; background: #ffffff; -webkit-text-size-adjust: none">
    <div id="mailsub" class="notification">
    <table align="center" cellpadding="0" cellspacing="0" height="100%" width="100%">
        <tbody>
            <tr>
                <td align="center" bgcolor="#fff" valign="top" width="100%">
                    <div>
                        <table cellpadding="0" cellspacing="0" class="w320" style="margin: 0 auto;" width="600">
                            <tbody>
                                <tr>
                                    <td align="center" valign="top">
                                        <table cellpadding="0" cellspacing="0" style="margin: 0 auto;" width="100%"> </table>
                                        <table bgcolor="#fff" cellpadding="0" cellspacing="0" style="margin: 30px 0; border: 1px solid #efefef; width: 100%;">
                                            <tbody style="margin-top: 15px;">
                                                <tr >
                                                    <td style="text-align: center; padding-top: 20px;">
                                                        <img alt="robot picture" height="100" src="https://riu-bucket.s3.ap-south-1.amazonaws.com/uploads/Social%2012.pngSocial%2012.png" width="400">
                                                    </td>
                                                </tr>
                                                <tr >
                                                    <td class="headline">Welcome to RIU </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div>
                                                            <table cellpadding="0" cellspacing="0" style="margin: 0 auto; padding: 0 20px;" width="75%">
                                                                <tbody>
                                                                    <tr>
                                                                        <td><br>
                                                                            <div style="color:#444; font-weight: 400; text-align: center; padding: 0 20px; ">
                                                                                <b>{{name}} </b> has invited you to join, and we’re very excited to have you onboard.
                                                                            </div><br>
                                                                            <div style="color:#444; font-weight: 400; text-align: justify;padding: 0 20px; ">
                                                                                We are here to help ensure you get the results you are expecting from our ESG platform and service. Please don’t hesitate to reach out with any, and all questions. We’d love to hear from you.
                                                                            </div>
                                                                            <br>
                                                                            
                                                                            <div style="text-align: justify; font-weight:bold; padding: 0 20px;">
                                                                                To help you get started we’ve got some steps to follow below:
                                                                            </div>
                                                                            <br>
                                                                            <ul style="text-align: left; font-weight:lighter; padding: 0 20px; ">
                                                                                ●	Statements to tell users their email id and password <br>
                                                                            </ul>
                                                                            <ul style="text-align: left; font-weight:lighter; padding: 0 20px;">
                                                                                ●	Steps to complete the setup <br>
                                                                                <div style="text-align: left; font-size: 14px; padding: 10px 30px 0;">
                                                                                    <span style="font-weight:bold;"> ❖ </span>	SignUp  <br>
                                                                                </div>
                                                                                <div style="text-align: left; font-size: 14px; padding: 10px 30px 0; ">
                                                                                    <span style="font-weight:bold;"> ❖ </span>	Login  <br>
                                                                                </div>
                                                                                <div style="text-align: left; font-size: 14px; padding: 10px 30px;">
                                                                                    <span style="font-weight:bold;"> ❖ </span>	Download the Google authenticator application <br>
                                                                                </div>
                                                                                <div style="text-align: left; font-size: 14px; padding-left: 30px;">
                                                                                    <span style="font-weight:bold;"> ❖ </span>	Setup 2FA in the application in settings<br>
                                                                                </div>
                                                                            </ul>
                                                                            <div style="color:#444; font-weight: 400; text-align: justify; padding: 0 20px;">
                                                                                We also recommend you download the ESGRI Academy to your phone. Most of our users find it useful to listen to and watch our training material whilst completing the reporting platform. 
                                                                                <div style="padding: 10px 0px; text-align: center;">
                                                                                    <img src="https://lms.zais.tech/wp-content/uploads/2023/01/lms-academy-qr.png" width='130'>
                                                                                </div>
                                                                            </div>
                                                                            <div style="color:#444; font-weight: 400; text-align: justify; padding: 0 20px;">
                                                                                If you need support, you can reply to this email, or send us a chat message – either through our website or once you’re logged in. 
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div style="text-align: center; margin-top: 25px; padding-bottom: 5px;">
                                                            <a class="name" style="border-radius:4px; color:#fff; padding: 12px 60px;"
                                                                href="{{url}}" >
                                                                <span >SignUp</span>
                                                            </a>
                                                        </div>
                                                        <br>
                                                        <table cellpadding="0" cellspacing="0" style="margin: 0 auto; padding:0 20px;" width="75%; ">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <div style="color:#444; font-weight: 400; text-align: justify; padding: 0 20px;">
                                                                            Looking forward to helping you, and your business improve your ESG performance.
                                                                        </div>
                                                                            <p style="color:#444; font-weight: 400; text-align: justify; padding: 10px 20px;">
                                                                                RIU <br>
                                                                                <div style="color:#2d387b !important; text-align: justify; padding: 0 20px;"><a href="mailto:contact@riu.ai">contact@riu.ai</a></div>
                                                                            </p>
                                                                        </div>  
                                                                        <div style="color:#444; font-weight: 400; text-align: justify; padding: 0 20px 10px;">
                                                                            You can download our LMS Apps from the link below.
                                                                        </div>
                                                                        <div class="appstore" style="padding-bottom: 20px; text-align: center;">
                                                                            <a href="https://lms.zais.tech/wp-content/uploads/2022/09/LMS.apk" class="google">
                                                                                <img width='150' class="playstore1" src="https://lms.zais.tech/wp-content/uploads/2022/09/pwa-button.png" alt="" srcset="">
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>

</html>